@import url("https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");

:root{
  --primary-color: #ffffff;
  --primary-color-light: #9ec0de;
  --secondary-color: #20376b;
  --extra-light:rgba(255, 255, 255, 0.5);
  --white:#fff;
  --max-width:1200px;
  --header-font: "Lisu Bosa", serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section_container{
  max-width: var(--max-width);
  margin: auto;
  padding: 80px 16px;
}

.section_header{
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: 800;
  font-family: var(--header-font);
  text-align: center;
}

.section_subheader{
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.btn{
  padding: 12px 24px;
  outline: none;
  border: none;
  font-size: 16px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  cursor: pointer;
  margin-top: 16px;
}

img{
  width: 100%;
  display: flex;
}

a{
  text-decoration: none;
}

html, 
body{
scroll-behavior: smooth;
}

body{
  font-family: "Lisu Bosa", serif;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}

header{
background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url(Photos/blog-banner.webp);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 70vh;
}

nav{
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid var(--extra-light);
}

.nav_bar{
  max-width: var(--max-width);
  margin: auto;
  padding: 24px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.nav_logo{
  width: 120px;
  height: 40px;
  color: var(--white);
}

.nav_logo a{
  color: var(--white);
}

.nav_links{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.link a{
  padding: 24px 5px;
  font-weight: 500;
  color: var(--white);
  transition: 0.3s;
}

.link a:hover{
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.link span{
  padding: 16px 0;
  color: var(--white);
  cursor: pointer;
}

.header_container{
  padding: 160px 550px;
  color: var(--white);
}

.blog_container{
  width: 80%;
  margin: 0 auto;
}

.footer_container{
  text-align: center;
  max-width: 100%;
  background-color: black;
}

.footer_container h4{
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.footer_container h4 a{
  color: var(--white);
}

.footer_container h4 a:hover{
  color: var(--primary-color-light);
}

.footer_socials{
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.footer_socials span a{
  font-size: 24px;
  color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}

.footer_socials span a:hover{
  color: var(--primary-color-light);
}

.footer_container p{
  max-width: 600px;
  margin: auto;
  margin-bottom: 64px;
  color: var(--white);
}

.footer_nav{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.footer_link a{
  font-weight: 500;
  color: var(--white);
}

.footer_link a:hover{
  color: var(--primary-color-light);
}

.footer_bar{
  padding: 16px;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid var(--white);
  background-color: black;
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .header_container {
    padding: 120px 20px;
  }

  .blogs_grid {
    width: 48%;
  }
}

@media only screen and (max-width: 600px) {
  .nav_bar {
    flex-direction: column;
    align-items: center;
  }

  .nav_logo {
    margin-bottom: 20px;
  }

  .nav_links {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .footer_socials {
    margin-bottom: 20px;
  }

  .footer_link {
    margin-top: 10px;
  }
}


@media screen and (max-width: 480px) {
  .header_container {
    padding: 80px 20px;
  }

  .blogs_grid {
    width: 100%;
  }
}